body{
font-family: Arial, Helvetica, sans-serif;
}

fieldset{
    margin-bottom: 20px;
}

h2 {
    background-color: rgba(59, 119, 250, 0.863);
    padding: 30px;
}
.container{
    max-width: 1000px;
    margin: 0 auto;
    padding: 10px;
}
.box-section{
    max-width: 1000px;
    padding: 10px;
}
.section{
    display: flex;    
}
.border{
    width: 100%;
    border: 1px solid black;
    margin-bottom: 20px;
}
.content-section {
    flex: 1;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding-bottom: 5px;
}

.content-section-compras{
    padding: 10px; 
}
.details-container{
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
    
.button{
    color: (44, 5, 116, 0.863); 
    border: 3px solid rgba(44, 5, 116, 0.863); 
    padding: 10px 15px; 
    background-color: transparent;
    cursor: pointer; 
    border-radius: 5px;
}

.btn-salvar, .btn-send, .btn-rastreio  {
    text-transform: uppercase;
}